<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="icon" type="svg/icon" href="{{ url_for('static', filename='images/icon.svg') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body class="gradient-background">
	<nav class="navbar navbar-expand-lg bg-dark">
		<a class="navbar-brand" href="{{ url_for('dashboard') }}">
			<img src="{{ url_for('static', filename='images/icon.svg') }}" alt="Logo" style="height: 40px;">
		</a>
		<button class="navbar-toggler navbar-light bg-white" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon bg-white"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav m-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('dashboard') }}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('about') }}">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('features') }}">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('review') }}">Reviews</a>
				</li>
			</ul>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Category
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{ url_for('inspiration') }}">Inspiration</a>
					<a class="dropdown-item" href="{{ url_for('motivation') }}">Motivation</a>
					<a class="dropdown-item" href="{{ url_for('emotional') }}">Emotional</a>
					<a class="dropdown-item" href="{{ url_for('happiness') }}">Happiness</a>
					<a class="dropdown-item" href="{{ url_for('moody') }}">Moody</a>
					<a class="dropdown-item" href="{{ url_for('strength') }}">Strength</a>
					<a class="dropdown-item" href="{{ url_for('sad') }}">Sad</a>
					<a class="dropdown-item" href="{{ url_for('float') }}">Float</a>
					<a class="dropdown-item" href="{{ url_for('spiritual') }}">Spiritual</a>
					<a class="dropdown-item" href="{{ url_for('energetic') }}">Energetic</a>
				</div>
			</li>
		</div>
	</nav>

	<!--alert>
		{% with messages = get_flashed_messages() %}
	    	{% if messages %}
	        	<ul class="flash-messages">
		    		{% for message in messages %}
		        		<li class="success">{{ message }}</li>
		    		{% endfor %}
				</ul>
	   		{% endif %}
		{% endwith %}
	</alert-->

	<div class="center-container-index">
	   <div class="container-home">
		   <h1 class="title">C<i>iTa</i></h1>
		   <p id="quote">{{ float_quote }}</p>
				   <button id="prevBtn">prev</button>
				   <button id="nextBtn">next</button>
				   <!--<i class="bi bi-type" id="fontToggle" style="cursor: pointer;"></i>-->
	   </div>
	</div>


	<a href="{{ url_for('logout') }}">Logout</a>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
