<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forgot Password</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-dark">
		<a class="navbar-brand" href="{{ url_for('dashboard') }}">
			<img src="{{ url_for('static', filename='images/icon.svg') }}" alt="Logo" style="height: 40px;">
		</a>
		<button class="navbar-toggler navbar-light bg-white" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon bg-white"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav m-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('dashboard') }}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('about') }}">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('features') }}">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('review') }}">Reviews</a>
				</li>
			</ul>
			<ul class="navbar-nav mll-auto">
				<li class="nav-item">
					<b><a class="nav-link" href="{{ url_for('login') }}">Login</a></b>
				</li>
				<li class="nav-item">
					<b><a class="nav-link" href="{{ url_for('register') }}">Sign up</a></b>
				</li>
			</ul>
		</div>
	</nav>

	<div class="center-container-index mt-5">
		<!--<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="">-->
					<div class="container-home">
						<h4 class="title">Forgot Password</h4>
						{% with messages = get_flashed_messages() %}
	    	  				{% if messages %}
	        		    		<ul class="flash-messages">
		    						{% for message in messages %}
		        		    			<li class="error">{{ message }}</li>
		    						{% endfor %}
				    			</ul>
	    					{% endif %}
			    		{% endwith %}
						<form action="{{ url_for('forgot_password') }}" method="POST">
							{{ form.hidden_tag() }}
							<div class="form-group">
								{{ form.email.label }}<br>
								{{ form.email }}
							</div>
							<div class="form-group">
								{{ form.submit }}
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
