<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="icon" type="svg/icon" href="{{ url_for('static', filename='images/icon.svg') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{{ url_for('dashboard') }}">
			<img src="{{ url_for('static', filename='images/icon.svg') }}" width="30" height="30" class="d-inline-block align-top" alt="">
		</a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<b><a class="nav-link" href="{{ url_for ('dashboard') }}">Dashboard</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="center-container">
		<div class="container-home">
			    <h1 class="title">Register</h1>
			    {% with messages = get_flashed_messages() %}
	    			{% if messages %}
	        		    <ul class="flash-messages">
		    			{% for message in messages %}
		        		    <li class="error">{{ message }}</li>
		    			{% endfor %}
				    </ul>
	   			{% endif %}
			    {% endwith %}
			    <form method="post">
	    			{{ form.hidden_tag() }}
	    			<div class="form-group">
				    {{ form.email.label }}<br>
				    {{ form.email }}
	    			</div>
	    			<div class="form-group">
				    {{ form.password.label }}<br>
				    {{ form.password }}
	    			</div>
	    			<div class="form-group">
				    {{ form.confirm_password.label }}<br>
				    {{ form.confirm_password }}
	    			</div>
	    			<div class="form-group">
				    {{ form.submit }}
	    			</div>
			    </form>
			    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
		</div>
	</div>
</body>
</html>
